             {% load static %}
               <div class="modal fade" id="m_add_organismo">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img src="{% static 'img/onrm.png' %}">
                                <h4 class="modal-title mx-auto mt-4">Agregar organismo</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" name="agrega_organismo" id="form_agregar_org">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="organismo" id="add_organismo">
                                    <div class="form-group">
                                        <h6 class="font-weight-bold mt-3">{{ form_organismo.nombre.label }}</h6>
                                        {{ form_organismo.nombre }}
                                    </div>
                                    <div class="modal-footer mx-auto">
                                        <button type="button" class="btn btn-outline-success orga">Agregar
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <div class="modal fade" id="m_edit_organismo">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <img src="{% static 'img/onrm.png' %}" />
                          <h4 class="modal-title mx-auto mt-4">Editar organismo</h4>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method="post" name="organismo" id="form_editar_organismo">
                            {% csrf_token %}
                            <h6 class="font-weight-bold mt-3">Nombre</h6>
                            <input
                              type="text"
                              name="nombre"
                              class="form-control"
                              label="Nombre"
                              style="max-width: 500px"
                              maxlength="255"
                              required="True"
                              id="id_edit_organismo"
                            />
                              <div class="modal-footer mx-auto">
                              <button type="button" class="btn btn-outline-dark editado-enviar-organismo">Editar</button>
                              <button type="reset" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    </div>
    <script>
    /***Organismo**/
    const organismo = d.getElementById("id_organismo")
    const action_organismo = d.getElementById('add_organismo');
     /***Editar entidad**/
     const select_organismo = d.getElementById("organismo");
     const select_editar_organismo = d.getElementById("form_editar_organismo");
     const edit_organismo = d.getElementById("id_edit_organismo");

    d.addEventListener("DOMContentLoaded", evt => {
     NomencladorAdd(".orga",action_organismo,organismo,undefined,{% url 'agregar_nomenclador' %});
     NomencladorEdit(".editar-org",select_organismo, edit_organismo, undefined,{% url 'editar_nomenclador' %});
     NomencladorEditedSubmit(".editado-enviar-organismo",select_editar_organismo, select_organismo, edit_organismo, undefined,{% url 'editar_nomenclador' %}); 
     NomencladorDelete(".delete-organismo", select_organismo,{% url 'eliminar_nomenclador' %});
    });

    </script>



