             {% load static %}
               <div class="modal fade" id="m_add_organismo">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img src="{% static 'img/onrm.png' %}">
                                <h4 class="modal-title mx-auto mt-4">Agregar Organismo</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" name="agrega_organismo" id="form_agregar">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="organismo" id="add_organismo">
                                    <div class="form-group">
                                        <h6 class="font-weight-bold mt-3">{{ form_organismo.nombre.label }}</h6>
                                        {{ form_organismo.nombre }}
                                    </div>
                                    <div class="modal-footer mx-auto">
                                        <button type="submit" id="btnAceptar" class="btn btn-outline-primary dir">Agregar
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

             <script>
                d = document;
                const AddOrganismo = () => {
                    d.addEventListener("submit", ev => {
                        ev.preventDefault();
                        /****Capturando valores para el envio del formulario de agregar documento****/
                        var fd_add;
                        fd_add = new FormData;
                        fd_add.append('ccsrfmiddlewaretoken', getCookie("csrftoken"));
                        fd_add.append('nombre', organismo.value);
                        fd_add.append('action', action_organismo.value);
                        const request = new Request(
                                {% url 'agregar_nomenclador' %},
                                {
                                    headers: {'X-CSRFToken': getCookie("csrftoken")},
                                    'Accept': 'application/json, application/xml, text/plain, text/html, *.*',
                                    'Content-Type': 'x-www-form-urlencoded'
                                }
                            );
                            fetch (request, {
                                method: 'post',
                                mode: 'same-origin',
                                body: fd_add,

                            })
                                .then(response => response.json())
                                .then(data => {
                                    Swal.fire({
                                      icon: 'success',
                                      title: 'Documento guardado exitosamente',
                                      showConfirmButton: true,
                                }).then(function () {
                                    location.reload()
                                    })
                                })
                                .catch((error) => {
                                    console.log(error);
                                    Swal.fire({
                                      icon: 'error',
                                      title: 'Oops...',
                                      text: 'Algo salió mal!',
                                      footer: error
                                        })
                                });

                      });
                 };
                    d.addEventListener("DOMContentLoaded", () => {
                     AddOrganismo();
                });
             </script>

