             {% load static %}
               <div class="modal fade" id="m_add_provincia">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img src="{% static 'img/onrm.png' %}">
                                <h4 class="modal-title mx-auto mt-4">Agregar provincia</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" name="agrega_provincia" id="form_agregar_prov">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="provincia" id="add_provincia">
                                    <div class="form-group">
                                        <h6 class="font-weight-bold mt-3">{{ form_provincia.nombre.label }}</h6>
                                        {{ form_provincia.nombre }}
                                    </div>
                                    <div class="modal-footer mx-auto">
                                        <button type="button" class="btn btn-outline-success agregar-prov">Agregar
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <div class="modal fade" id="m_edit_provincia">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <img src="{% static 'img/onrm.png' %}" />
                          <h4 class="modal-title mx-auto mt-4">Editar provincia</h4>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method="post" name="provincia" id="form_editar_provincia">
                            {% csrf_token %}
                            <h6 class="font-weight-bold mt-3">Nombre</h6>
                            <input
                              type="text"
                              name="nombre"
                              class="form-control"
                              label="Nombre"
                              style="max-width: 500px"
                              maxlength="255"
                              required="True"
                              id="id_edit_provincia"
                            />
                              <div class="modal-footer mx-auto">
                              <button type="button" class="btn btn-outline-dark editado-enviar-provincia">Editar</button>
                              <button type="reset" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    </div>
<script>
/***Provincias**/
const provincia = d.getElementById("id_provincia");
const action_provincia = d.getElementById('add_provincia');
/***Editar entidad**/
const select_provincia = d.getElementById("provincia");
const select_editar_provincia = d.getElementById("form_editar_provincia");
const edit_provincia = d.getElementById("id_edit_provincia");

d.addEventListener("DOMContentLoaded", evt => {
    NomencladorAdd(".agregar-prov",action_provincia,provincia,undefined,{% url 'agregar_nomenclador' %});
    NomencladorEdit(".editar-provincia",select_provincia, edit_provincia, undefined,{% url 'editar_nomenclador' %});
    NomencladorEditedSubmit(".editado-enviar-provincia",select_editar_provincia, select_provincia, edit_provincia, undefined,{% url 'editar_nomenclador' %}); 
    NomencladorDelete(".delete-provincia", select_provincia,{% url 'eliminar_nomenclador' %});
});

</script>                  