             {% load static %}
               <div class="modal fade" id="m_add_tdoc_salida">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img src="{% static 'img/onrm.png' %}">
                                <h4 class="modal-title mx-auto mt-4">Agregar tipo documento salida</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" name="agrega_tdoc_salida" id="form_agregar_tdoc_salida">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="tdoc_salida" id="add_tdoc_salida">
                                    <div class="form-group">
                                        <h6 class="font-weight-bold mt-3">{{ form_t_documento_salida.tipo.label }}</h6>
                                        {{ form_t_documento_salida.tipo }}
                                    </div>
                                    <div class="modal-footer mx-auto">
                                        <button type="button" class="btn btn-outline-primary agregar-tdoc_salida">Agregar
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <div class="modal fade" id="m_edit_tdoc_salida">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <img src="{% static 'img/onrm.png' %}" />
                          <h4 class="modal-title mx-auto mt-4">Editar tipo documento salida</h4>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method="post" name="tdoc_salida" id="form_editar_tdoc_salida">
                            {% csrf_token %}
                            <h6 class="font-weight-bold mt-3">Nombre</h6>
                            <input
                              type="text"
                              name="nombre"
                              class="form-control"
                              label="Nombre"
                              style="max-width: 500px"
                              maxlength="255"
                              required="True"
                              id="id_edit_tdoc_salida"
                            />
                              <div class="modal-footer mx-auto">
                              <button type="button" class="btn btn-outline-dark enviar-tdoc_salida">Editar</button>
                              <button type="reset" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    </div>
<script>
/***Tipo documento de salida**/
const tdoc_salida = d.getElementById("id_tdoc_salida");
const action_tdoc_salida = d.getElementById('add_tdoc_salida');
/***Editar entidad**/
const select_tdoc_salida = d.getElementById("tdoc_salida");
const select_editar_tdoc_salida = d.getElementById("form_editar_tdoc_salida");
const edit_tdoc_salida = d.getElementById("id_edit_tdoc_salida");

d.addEventListener("DOMContentLoaded", evt => {
    NomencladorAdd(".agregar-tdoc_salida",action_tdoc_salida,tdoc_salida,undefined,{% url 'agregar_nomenclador' %});
    NomencladorEdit(".editar-tdoc_salida",select_tdoc_salida, edit_tdoc_salida, undefined,{% url 'editar_nomenclador' %});
    NomencladorEditedSubmit(".enviar-tdoc_salida",select_editar_tdoc_salida, select_tdoc_salida, edit_tdoc_salida,undefined,{% url 'editar_nomenclador' %}); 
    NomencladorDelete(".delete-tdoc_salida", select_tdoc_salida,{% url 'eliminar_nomenclador' %});
});
</script>

