             {% load static %}
               <div class="modal fade" id="m_add_tdoc">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img src="{% static 'img/onrm.png' %}">
                                <h4 class="modal-title mx-auto mt-4">Agregar tipo documento</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" name="agrega_tdoc" id="form_agregar_td">
                                    {% csrf_token %}
                                    <input type="hidden" name="tdoc" value="tdoc" id="add_tdoc">
                                    <div class="form-group">
                                        <h6 class="font-weight-bold mt-3">{{ form_t_documento.tipo.label }}</h6>
                                        {{ form_t_documento.tipo }}
                                    </div>
                                    <div class="modal-footer mx-auto">
                                        <button type="button" class="btn btn-outline-primary agregar-tdoc">Agregar
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>

                <div class="modal fade" id="m_edit_tdoc">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <img src="{% static 'img/onrm.png' %}" />
                          <h4 class="modal-title mx-auto mt-4">Editar tipo documento entrada</h4>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method="post" name="tdoc" id="form_editar_tdoc">
                            {% csrf_token %}
                            <h6 class="font-weight-bold mt-3">Nombre</h6>
                            <input
                              type="text"
                              name="nombre"
                              class="form-control"
                              label="Nombre"
                              style="max-width: 500px"
                              maxlength="255"
                              required="True"
                              id="id_edit_tdoc"
                            />
                              <div class="modal-footer mx-auto">
                              <button type="button" class="btn btn-outline-dark enviar-tdoc">Editar</button>
                              <button type="reset" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    </div>
<script>
/***Tipo documento de entrada**/
const tdoc = d.getElementById("id_tdoc_entrada");
const action_tdoc = d.getElementById('add_tdoc');
/***Editar entidad**/
const select_tdoc = d.getElementById("tdoc");
const select_editar_tdoc = d.getElementById("form_editar_tdoc");
const edit_tdoc = d.getElementById("id_edit_tdoc");

d.addEventListener("DOMContentLoaded", evt => {
    NomencladorAdd(".agregar-tdoc",action_tdoc,tdoc,undefined,{% url 'agregar_nomenclador' %});
    NomencladorEdit(".editar-tdoc",select_tdoc, edit_tdoc, undefined,{% url 'editar_nomenclador' %});
    NomencladorEditedSubmit(".enviar-tdoc",select_editar_tdoc, select_tdoc, edit_tdoc,undefined,{% url 'editar_nomenclador' %}); 
    NomencladorDelete(".delete-tdoc", select_tdoc,{% url 'eliminar_nomenclador' %});
});



</script>         

